@import "variables";

/*
    - Animation Styling
    - Animation Name: Flash
*/
.AnimationFlashWrapper{
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    box-shadow: $boxShadowClear
}

.AnimateFlashWrapper{
    animation: FlashWrapper .3s forwards;
    animation-delay: 1s;
}   

.AnimationFlashContent{
    opacity: 0;
    transform: translateX(-10px);
}

.AnimateFlashContent{
    animation: FlashContent .3s forwards;
    animation-delay: 1s;
}

.AnimationFlashBackground{
    position: absolute;
    background-color: gray;
    width: 100%;
    top: 0;
    left: 0%;
    bottom: 0%;
    transform: translate(-95%, -100%);
}

.AnimateFlashBackground{
    animation: FlashBackground 1s ease-in;
}

.AnimationFlashBackgroundFinal{
    position: absolute;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translate(-100%, 0%);
}

.AnimateFlashBackgroundFinal{
    animation: FlashBackgroundFinale .5s ease-in forwards;
    animation-delay: .5s;
}

@keyframes FlashContent{
    0%{
        opacity: 0;
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes FlashBackground{
    0%{
        transform: translate(-95%, -100%);
    }
    25%{
        transform: translate(-95%, 0%);
    }
    60%{
        transform: translate(0%, 0%);
    }
    100%{
        transform: translate(100%, 0%);
    }
}

@keyframes FlashBackgroundFinale{
    0%{
        transform: translate(-100%, 0%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}

@keyframes FlashWrapper{
    0%{
        box-shadow: $boxShadowClear;
    }
    100%{
        box-shadow: $boxShadow;
    }
}