@import '_fonts';

body{
    font-family: "Roboto-Medium";
    font-size: 16px;
}
h1{
    font-family: "Roboto-Black";
    font-size: 28px;
}
h2{
    font-family: "Roboto-Black";
    font-size: 24px;
}
h3{
    font-family: "Roboto-Black";
    font-size: 22px;
}
h4{
    font-family: "Roboto-Black";
    font-size: 18px;
}
p{
    font-family: "Roboto-Medium";
    font-size: 16px;
}
a{
    color: blue;
}
a:link{
    color: blue;
}
a:visited{
    color: blue;
}
a:active, a:hover{
    color: aqua;
}
ul{
    list-style: none;
}
input[type=button]{
    background-color: gray;
}
input[type=text]{
    background-color: gray;
}
input[type=password]{
    background-color: gray;
}
input[type=submit]{
    background-color: gray;
}
