@import '_reset';
@import '_styleSheet';
@import '_deployNow';
@import 'variables';
@import '_animations';

//Custom Styling to Blocks
.CustomWrapper{
    width: 85%;
    max-width: 900px;
    margin: auto;
}

.CustomCell{
    background-color: white;
    box-shadow: $boxShadow;
}